.login-container {
  width: 80%;
  min-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.form label {
  width: 80px;
  padding: 10px 25px 0 15px;
  height: 40px;
  color: white;
  background-color: #4f709c;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4f709c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2f66af;
}

.register {
  text-align: center;
  margin-top: 15px;
}

.register a {
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
