.register-container {
  width: 80%;
  min-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group {
  flex-basis: 48%; /* Ajusta para que dos elementos caben en una fila */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4f709c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #2f66af;
}

.login {
  text-align: center;
  margin-top: 15px;
}

.login a {
  color: #007bff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
