@font-face {
  font-family: "Inter";
  src: url("./assets/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Inter";
}

body {
  margin: 0;
  padding: 0;
}
